.Knob {
  position: absolute;
}

.Knob-handler {
  position: absolute;
  background: #e271e6;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  top: -8px;
  left: -8px;
}

.Knob-handler-2 {
  position: absolute;
  border: #e271e6 1px solid;

  border-radius: 100%;
  width: 14px;
  height: 14px;
  top: -8px;
  left: -8px;
}

.Knob-handler-3 {
  position: absolute;
  background: #0bdceb;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  top: -8px;
  left: -8px;
}
