.App {
  text-align: center;
}

.App-body {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Amebator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Amebator-canvas-container {
  position: relative;
}

.Amebator-control {
  width: 320px;
  padding: 16px 0;
}

.Amebator-control-title {
  font-weight: 700;
}
